@media screen and (min-width: 1158px) {
	.container {
		max-width: 1158px;
		margin: 0 auto;
		padding: 0 15px;
	}
	.header {
		width: 100%;
		padding-top: 24px;
		padding-bottom: 24px;
		box-sizing: border-box;
	}

	.header-list {
		margin-left: 76px;
	}

	.header-item {
		margin-right: 40px;
	}
	.header-item:last-child {
		margin-right: 0;
	}

	.current::after {
		top: 47px;
	}

	.hero {
		padding-top: 188px;
		padding-bottom: 188px;
	}

	.hero-title {
		font-size: 56px;
		line-height: 1.07;
		letter-spacing: 0.02em;
		max-width: 500px;
		color: var(--sup-white-color);

		margin-bottom: 48px;
		max-width: 500px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.address-item {
		margin-right: 40px;
	}

	.address {
		font-style: normal;
		margin-left: auto;
	}

	.address-list {
		display: flex;
	}
	.address-item {
		margin-right: 40px;
	}
	.address-item:last-child {
		margin-right: 0;
	}

	.address-link {
		color: var(--sub-dark-color);
		transition: var(--transition-func);
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: calc(24 / 16);
		letter-spacing: 0.02em;
	}
	.address-link:hover,
	.address-link:focus {
		color: var(--hover-fokus-color);
	}

	.features {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.features-container {
		display: flex;
	}

	.features-list {
		display: flex;
		column-gap: 24px;
	}

	.features-item {
		width: calc((100% - 72px) / 4);
	}
	.features-suptitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		text-align: start;
	}
	.features-subtitle {
		white-space: normal;
	}

	.customers {
		padding: 130px 0 120px 0;
	}

	.customers-icon-item {
		box-sizing: border-box;
	}

	.customers-icon-link {
		width: 168px;
	}

	.footer {

		align-items: center;
		text-align: start;
		
	}

	.footer-container {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
	}
	
	.social-media {
		margin-left: 120px;
	}

	.footer-subscribe {
		margin-left: 80px;
		justify-content: center;
	}

	.footer-wraper {
	
		flex-wrap: nowrap;

		align-items: center;
		flex-direction: row;
		/* gap: 24px; */
	}

	.user-mail-subscribe {
		margin-bottom: 0; 
}

.footer {

	align-items: center;
	text-align: start;
	
}

.footer-container {
	display: flex;
	flex-wrap: nowrap;
	width: auto;
	column-gap: 0;
}

.social-media {
	margin-left: 120px;
}

.footer-subscribe {
	margin-left: 80px;
	justify-content: center;
}

.footer-wraper {

	flex-wrap: nowrap;

	align-items: center;
	flex-direction: row;
	/* gap: 24px; */
}

.user-mail-subscribe {
	margin-bottom: 0; 
}
}

