@media screen and (min-width: 768px) {

    .header {
        padding-bottom: 22px;
    }
    .header-container {
        align-items: start;
    }
    .header-list {

        margin-left: 120px;
    }

    .container{
    max-width: 768px ;
    }

    .header-list {
		
	}
	.address {

        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
		
	}
    
    .address-list {

        display: flex;
        justify-content: flex-end;
        
    }

    .address-item {

        margin-right: 0;
        margin-bottom: 4px;
    }

    .team {
        padding-top: 96px;
        padding-bottom: 104px;
      }
      .team-list {
        /* max-width: 552px; */
        row-gap: 64px;
        column-gap: 24px;
        /* margin: 0 auto; */
      }
      .team-item {
        margin-bottom: 64px;
      }

    .features-list {
        display: flex;
        flex-wrap: wrap;
    }

    .features-item {

        width: 356px;
    }

    .features-suptitle {

    }

    .footer-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    row-gap: 72px;
    column-gap: 24px;
    width: 552px;
    }
.footer-logo {

    justify-content: start;
}

.footer-subscribe-label {

    justify-content: start;

}

.user-mail-subscribe {

    width: 264px;
    margin-right: 24px;
}

}

@media screen and (max-width: 1199px) {
    .features-icons  {
      display: none;
    }
    .images {
      display: none;
    }


 
  }


