@media screen and (min-width: 768px) {
	.container {
		max-width: 767px;
	}
	.hero {
		background-image: linear-gradient(
				rgba(46, 47, 66, 0.7),
				rgba(46, 47, 66, 0.7)
			),
			url(../images/herobackground.jpg);
		background-size: 1440px, 1440px, cover;
        padding-bottom: 108px;
	}

	.header {
		padding-bottom: 10px;
	}

	.header-list {
		margin-left: 120px;
	}

	.container {
		max-width: 768px;
	}

	.header-list {
		margin-right: 0;
	}
	.address {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.04em;
	}

	.address-list {
		display: flex;
		justify-content: flex-end;
		padding-left: 118px;
	}

	.address-item {
		margin-right: 0;
		margin-bottom: 4px;
	}

	.current::after {
		content: "";
		top: 37px;
	}

	.hero-title {
		font-size: 56px;
		max-width: 494px;
		line-height: calc(60 / 56);
		margin-bottom: 40px;
		max-width: 500px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.team {
		padding-top: 96px;
		padding-bottom: 104px;
	}
	.team-list {
		/* max-width: 552px; */
		row-gap: 64px;
		column-gap: 24px;
		/* margin: 0 auto; */
	}
	.team-item {
		margin-bottom: 64px;
	}

	.features-list {
		display: flex;
		flex-wrap: wrap;
	}

	.features-item {
		width: 356px;
	}

	.features-suptitle {
	}

	.footer-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
		align-items: start;
		row-gap: 72px;
		column-gap: 24px;
		width: 552px;
	}
	.footer-logo {
		justify-content: start;
	}

	.footer-subscribe-label {
		justify-content: start;
	}

	.user-mail-subscribe {
		width: 264px;
		margin-right: 24px;
	}

	.portfolio-list {
		justify-content: start;
	}

	.filter {
		padding-top: 64px;
		padding-bottom: 96px;
	}
}

@media screen and (max-width: 1199px) {
	.features-icons {
		display: none;
	}
	.images {
		display: none;
	}
}
